{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "proseWrap": "always",
  "printWidth": 80,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
